.browse {

}

.browse__search {
    /* height: 10rem; */
    background-color: #171717;
    padding: 3rem 18rem;
}

.browse__movies {
    
    background-color: #1D1D1D;
    padding: 3rem 7rem;
}

.browse__movies > h3 {
    text-align: center;
    color: #6ac045;
    margin-bottom: 4rem;
}

.browse__movies > h3  span {
    font-weight: 700;
    font-size: 2.5rem;
}

.browse__moviesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
    grid-gap: 6rem;
}

@media only screen and (max-width: 800px) {
    .browse__search {
        padding: 3rem;
    }
}

@media only screen and (max-width: 450px) {
    .browse__search {
        padding: 3rem 1rem;
    }
    .browse__movies {
        padding: 3rem 2rem;
    }
}