.select {
    display: block;
    width: 100%;
    background-color: #282828;
    border: none;
    padding: 10px;
    color: var(--color-gray);
    border-radius: 3px;
    outline: none;
    font-family: inherit;
    font-size: 1.6rem !important;
}

.select__heading {
    color: #5a5a5a;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}