.ham {
    width: 3rem;
    height: 3px;
    background-color: white;
    position: relative;
    display: none;
}

.ham::after,.ham::before {
    content: "";
    display: block;
    width: 3rem;
    height: 3px;
    background-color: white;
    position: absolute;
}

.ham::after {
    bottom: .7rem;
}
.ham::before {
    top: .7rem;
}

@media only screen and (max-width: 800px) {
    .ham {
        display: block;
    }
}