.search {

}

.search__form {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(2,1fr);
    color: #fff;
    grid-gap: 3rem;

}

.search__form > div {
    /* background-color: coral; */
    
}

.search__form > div:first-child {
    grid-column: 1 / -2;
    color: #5a5a5a;
}

.search__form > div:first-child input {
    font-size: 1.6rem;
}

.search__form > div:first-child > h2 {
    margin-bottom: 1rem;
}

input {
    outline: none;
}


.search__form > div:last-child {
    grid-column: 7 / -1;
    grid-row: 1 / 2;
    align-self: flex-end;
}

.search__form > div:last-child > button {
    padding-top: 1rem;
    padding-bottom: 1rem; 
    width: 100%;
}
.search__input {
    display: block;
    width: 100%;
    border:none;
    padding: 1rem;
    color: #a2a2a2;
    background-color: #282828;
    border-radius: 3px;
    
}


@media only screen and (max-width: 800px) {
    .search__form {
        /* grid-template-columns: 1fr; */
        /* grid-template-rows: repeat(2,1fr); */

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .search__form > div {
        flex-basis: 40%;
    }
    

    .search__form > div:first-child {
        flex-basis: 100%;
    }

    .search__form > div:last-child {
        flex-basis: 100%;
    }
}